<section id="about-me">
  <div class="about-me-row">
    <div class="about-me-img-grid">
      <img
        src="../../../assets/img/empresario-exitoso.jpg"
        alt=""
        width="300px"
        height="500px"
        class=""
        data-aos="fade-down"
      />
    </div>
    <div class="" data-aos="fade-up">
      <h3 class="display-4 mb-4 border-bottom border-2 border-primary">
        ¿Quien soy?
      </h3>

      <h4 class="mb-3">Valentino (Haizara) Ceniceros</h4>
      <p>
        Soy un joven programador con mucha iniciativa, entre en el rubro del
        desarrollo web en 2021 y en la actualidad ya hice 3 páginas web desde 0
        y colaboré en modificaciones y mejoras de 4 proyectos de distintos
        rubros.
      </p>
      <p>
        Trabaje con distinto tipos de consumidores desde pequeñas Start-ups,
        ONG's y medianas empresas por lo que se adaptarme a los distintos tipos
        de necesidades que pueden llegar a tener mis potenciales clientes.
      </p>
      <p>
        Soy un apasionado de la informática por lo que busco la excelencia y
        eficiencia en todos mis proyectos optimizando los recursos para mis
        clientes y así contribuyendo a la mejora y el perfeccionamiento de mis
        habilidades.
      </p>
    </div>
  </div>
</section>
