@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:600");
/* You can add global styles to this file, and also import other style files */
/*configuraciones estandar*/

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #01010e !important;
  color: #eaeae9 !important;
  /*fuentes*/
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-smoothing: antialiased;
}

/*clearfix*/
.clearfix {
  clear: both;
  float: none;
}
/*nav*/
.logo_letter {
  position: absolute;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-link {
  text-decoration: none;
  color: #eaeae9 !important;
}
.nav-link:hover {
  color: #ffde59 !important;
  transition-duration: 3000;
}
/*Presentacion*/
.presentation {
  display: flex;
  position: relative;
  width: 100%;
}

.presentation-black {
  width: 60%;
  background-image: url(../img/background-presentation.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
}
.presentation-white {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  background-image: url(../img/fondo-japones.jpeg);

  background-position: center;
  height: 400px;
}

.cvimage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh; /* Ajusta según tus necesidades para centrar verticalmente */
}

.cvimage {
  width: 15vw;
  height: 15vw;
  border: solid 3px #FFDE59;
  box-shadow: 0 0 10px 0 rgba(255, 222, 89, 0.8); /* Resplandor */
  transition: transform 0.3s ease-in-out; /* Efecto de transición en el tamaño */
}

.cvimage:hover {
  transform: scale(1.1); /* Cambia el tamaño al hacer hover */
}
/*figuras geometricas*/
#hexagon {
  height: 5.7735em;
  position: relative;
  width: 10em;
  border: solid 1px #FFDE59;
  animation: hexagonAnimation 5s infinite linear;
}

#hexagon:before,
#hexagon:after {
  background: inherit;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 2px #FFDE59;
}

#hexagon:before {
  transform: rotate(-60deg);
  transform-origin: 50% 50%;
}

#hexagon:after {
  transform: rotate(60deg);
  transform-origin: 50% 50%;
}

@keyframes hexagonAnimation {
  0%, 100% {
    transform: translateY(0) translateX(0) rotate(0deg) scale(1);
  }
  25% {
    transform: translateY(-6em)  translateX(6em) rotate(-45deg) scale(1.1);
  }
  50% {
    transform: translateY(0) translateX(0) rotate(-90deg) scale(1);
  }
  75% {
    transform: translateY(6em)   translateX(-6em)rotate(-135deg) scale(1.1);
  }
}

#circle {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  border-top: solid 3px #FFDE59;
  border-bottom: solid 3px #9f841c;
  position: relative;
  animation: circleAnimation 5s infinite linear;

}

@keyframes circleAnimation {
  0%, 100% {
    transform: translateY(0) translateX(0) rotate(0deg) scale(1);
  }
  25% {
    transform: translateY(6em) translateX(-6em) rotate(-45deg) scale(1.1);
  }
  50% {
    transform: translateY(0) translateX(0) rotate(-90deg) scale(1);
  }
  75% {
    transform: translateY(-6em) translateX(-6em) rotate(-135deg) scale(1.1);
  }
}

#square {
  height: 10em;
  width: 10em;
  border: 3px solid #FFDE59;
  position: relative;
  animation: squareAnimation 5s infinite linear;
}

@keyframes squareAnimation {
  0%, 100% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(-15em) scale(1.1);
  }
  50% {
    transform: translateX(0) scale(1);
  }
  75% {
    transform: translateX(15em) scale(1.1);
  }
}

@media screen and (max-width: 1200px) {
  .presentation{
    flex-direction: column;
  }
  .presentation-white {
    height: 300px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

  }
  .presentation-black {
    width: 100%;
    height: 230px;
    position: relative;
  }
  .titles-row{
    text-align: center;
  }
  #hexagon{
    height: 2.3em;
    width: 4em;
  }
  #circle{
    height: 4em;
    width: 4em;
  }
  #square{
    height: 4em;
    width: 4em;
  }
  @keyframes hexagonAnimation {
    0%, 100% {
      transform: translateY(0) translateX(0) rotate(0deg) scale(1);
    }
    25% {
      transform: translateY(-4em)  translateX(6em) rotate(-45deg) scale(1.1);
    }
    50% {
      transform: translateY(0) translateX(0) rotate(-90deg) scale(1);
    }
    75% {
      transform: translateY(4em)   translateX(-3em)rotate(-135deg) scale(1.1);
    }
  }
  @keyframes squareAnimation {
    0%, 100% {
      transform: translateX(0) ;
    }
    25% {
      transform: translateX(-7em) ;
    }
    50% {
      transform: translateX(0) ;
    }
    75% {
      transform: translateX(7em) ;
    }
  }
  @keyframes circleAnimation {
    0%, 100% {
      transform: translateY(0) translateX(0) rotate(0deg) scale(1);
    }
    25% {
      transform: translateY(5em) translateX(-5em) rotate(-45deg) scale(1.1);
    }
    50% {
      transform: translateY(0) translateX(0) rotate(-90deg) scale(1);
    }
    75% {
      transform: translateY(-5em) translateX(-5em) rotate(-135deg) scale(1.1);
    }
  }
  .cvimage{
    height: 22vh;
    width: 22vh;
  }
}
/*Title section*/
.titles-row{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 20px;
}

.rotating-text {
  overflow: hidden;
  position: relative;
  text-align: center;
  justify-content: center;
  height: 100%;
}
.text {
  margin-top: 60px;

}
.word {
  font-size: 1.3em;
  position: absolute;
  width: auto;
  opacity: 0;
  margin-left: 5px;

}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
  background-color: #0e0e0d;
  padding: 2px;
  border: 1px solid #bebdbd;
  box-shadow: 0  3px 3px   #f0f0f0;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.rdBlue {
  color: #052057;
}

.gold {
  color: gold;
}

.gray {
  color: #acaaaa;
}

.green {
  color: #cfb10a;
}

.midnight {
  color: #003365;
}

.presentation-subtitle{
  position: relative;
  margin-top: 70px;
  color: #c9a827;
  text-shadow: 0 0 5px #FFDE59;
}

.titilante-barra {
  display: inline-block;
  position: relative;
  animation: titilante 1s infinite;
}

@keyframes titilante {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*about me*/

#about-me {
  position: relative;
  height: 1fr;
  border-top: solid #0576ae 1px;
  border-bottom: solid #0576ae 1px;
  margin-top: 30px;
  padding: 10px 0 10px 0;
}
.about-me-row {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}

.about-me-img-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me-img {
  border: solid #1721a8;
  box-shadow: #065f97 1px 0px 1px 0px;
}

@media all and (max-width: 600px) {
  .about-me-row {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
#tecnologias {
  width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4%;
  padding-bottom: 8%;
  border-bottom: solid #1721a8 1px;
}
.technologie-grid {
  margin-top: 80px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
}
.technologie {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: all 3000ms;
}
.technologie-text {
  margin-top: 10px;
}
.technologie:hover {
  z-index: 2;
  transition: all 3000ms;
  color: #0576ae;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #065f97,
    0 0 25px;
  -webkit-text-fill-color: #1721a8;
  -webkit-text-stroke-color: #0576ae;
  -webkit-text-stroke-width: 0.2px;
  -moz-text-fill-color: #1721a8;
  -moz-text-stroke-color: #0576ae;
  -moz-text-stroke-width: 0.2px;
}

@media all and (max-width: 900px) {
  .technologie-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .technologie {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 80px 140px;
  }
  .technologie-text {
    margin-left: 10px;
  }
}
#proyectos {
  width: 100%;
  margin-top: 30px;
}
.project-sec {
  display: flex;
  width: 100%;
  border-right: solid 1px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.col:hover {
  transition: all 3000ms;
  color: #0576ae;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #065f97,
    0 0 25px;
  -webkit-text-fill-color: #1721a8;
  -webkit-text-stroke-color: #0576ae;
  -webkit-text-stroke-width: 0.2px;
  -moz-text-fill-color: #1721a8;
  -moz-text-stroke-color: #0576ae;
  -moz-text-stroke-width: 0.2px;
}
btn-top {
  display: absolute;
  width: 70px;
  height: 70px;
  color: #fff;
  position: fixex;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center;
  z-index: 999;
}
.contacto {
  width: 100%;
  border-top: #1721a8 solid 1px;
  margin-top: 60px;
}
