@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');
/* You can add global styles to this file, and also import other style files */
/*configuraciones estandar*/

body{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #fff;
    /*fuentes*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-smoothing: antialiased;
    
}

/*clearfix*/
.clearfix{
    clear: both;
    float: none;
}
/*nav*/
.logo_letter{
    position: absolute;
    z-index: 100;
}
.logo_form{
    animation-duration: 30s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    z-index: 10;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Presentacion*/
.presentation_img{
    z-index: 10;
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
}
.presentation{
    position: relative;
    z-index: 100;
    display: flex;
    text-align: left;
    width: 100%;
    height: 600px;
    background-image: url(../img/notebook-programando.jpg);
    background-position: center;
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    
}
.presentation_title{
    font-size: 7em;
    color: #0576ae;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #18bdec;
    animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
.presentation_subtitle{
    font-size: 4em;
    color: #0576ae;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #065f97, 0 0 25px ;
    -webkit-text-fill-color: #1721a8;
    -webkit-text-stroke-color:#0576ae;
    -webkit-text-stroke-width:0.2px;
    -moz-text-fill-color: #1721a8;
    -moz-text-stroke-color:#0576ae;
    -moz-text-stroke-width:0.2px;
    text-align: center;
    animation: latido 5s infinite;
    margin-left: 50px;
  }
  @keyframes latido {
    from { transform: none; }
    50% { transform: scale(1.2); }
    to { transform: none; }
}
@media screen and (max-width: 600px){
  .presentation{
    display: flex;
    text-align: start;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    height: 450px;
  }
  .presentation_subtitle{
    font-size: 1.7rem;
    margin:0;
    margin-left: 30px;
  }
  .presentation_title{
    font-size: 3.6rem;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}
#about-me{
  position: relative;
  height: 1fr;
  border-top: solid #0576ae 1px;
  border-bottom: solid #0576ae 1px;
  margin-top: 30px;
  padding: 10px 0 10px 0;
}
.about-me-row{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}


.about-me-img-grid{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-me-img{
  -webkit-filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  border: solid #1721a8;
  box-shadow: #065f97 1px 0px 1px 0px;
  
}




@media all and (max-width: 600px){
  .about-me-row{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
#tecnologias{
  width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4%;
  padding-bottom: 8%;
  border-bottom: solid #1721a8 1px;
  
}
.technologie-grid{
  margin-top: 80px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 40px;
}
.technologie{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  transition: all 3000ms;
  
}
.technologie-text{
  margin-top: 10px;
}
.technologie:hover{
  z-index: 2;
  transition: all 3000ms;
  color: #0576ae;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #065f97, 0 0 25px ;
  -webkit-text-fill-color: #1721a8;
  -webkit-text-stroke-color:#0576ae;
  -webkit-text-stroke-width:0.2px;
  -moz-text-fill-color: #1721a8;
  -moz-text-stroke-color:#0576ae;
  -moz-text-stroke-width:0.2px;

}


@media all and (max-width: 900px) {
    .technologie-grid{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
    }
    .technologie{
      display: grid;
      grid-template-rows: 80px;
      grid-template-columns: 80px 140px;
    }
    .technologie-text{
      margin-left: 10px;
    }
}
#proyectos{
  width: 100%;
  margin-top: 30px;
  
}
.project-sec{
  display: flex;
  width: 100%;
  border-right: solid 1px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.col:hover{
  transition: all 3000ms;
  color: #0576ae;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #065f97, 0 0 25px ;
  -webkit-text-fill-color: #1721a8;
  -webkit-text-stroke-color:#0576ae;
  -webkit-text-stroke-width:0.2px;
  -moz-text-fill-color: #1721a8;
  -moz-text-stroke-color:#0576ae;
  -moz-text-stroke-width:0.2px;
}
btn-top{
    display:absolute;
    width:70px;
    height:70px;
    color: #fff;
    position: fixex;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}
.contacto{
  width: 100%;
  border-top: #1721a8 solid 1px ;
  margin-top: 60px;
}