<header
  class="navbar sticky-top navbar-light"
  style="background-color: #0576ae"
>
  <div class="container d-flex flex-wrap justify-content-center">
    <a href=""
      ><span class="logo"
        ><img
          src="../../../assets/img/logo haizara tech letra.png"
          alt="haizara tech logo"
          height="70"
          width="70"
          class="logo_letter" /><img
          src="../../../assets/img/logo haizara tech rombo.png"
          alt="haizara tech logo"
          height="100"
          width="100"
          class="logo_form"
      /></span>
    </a>
  </div>
  <div class="container d-flex flex-wrap justify-content-center">
    <ul class="nav">
      <li class="nav-item">
        <a href="" class="nav-link link-light px-2 active" aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a href="#about-me" class="nav-link link-light px-2">¿Quien soy?</a>
      </li>
      <li class="nav-item">
        <a href="#tecnologias" class="nav-link link-light px-2">Tecnologias</a>
      </li>
      <li class="nav-item">
        <a href="#proyectos" class="nav-link link-light px-2">Proyectos</a>
      </li>
      <li class="nav-item">
        <a href="#contacto" class="nav-link link-light px-2">Contacto</a>
      </li>
    </ul>
  </div>
</header>
