<header
  class="navbar sticky-top navbar-light"
  style="background-color: #01010e"
>
  <div class="container d-flex flex-wrap justify-content-center">
    <a href=""
      ><span class="logo mt-4 mb-4"
        ><img
          src="../../../assets/img/logo haizara tech letra.png"
          alt="haizara tech logo"
          height="50"
          width="70"
          class="logo_letter" />
      /></span>
    </a>
  </div>
  <div class="container d-flex flex-wrap justify-content-center collapse navbar-colapse">
    <ul class="nav ml-auto">
      <li class="nav-item">
        <a href="" class="nav-link px-2 active" aria-current="page"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a href="#about-me" class="nav-link   px-2">¿Quién soy?</a>
      </li>
      <li class="nav-item">
        <a href="#tecnologias" class="nav-link px-2">Tecnologías</a>
      </li>
      <li class="nav-item">
        <a href="#proyectos" class="nav-link  px-2">Proyectos</a>
      </li>
      <li class="nav-item">
        <a href="#contacto" class="nav-link  px-2">Contacto</a>
      </li>
    </ul>
  </div>
</header>
