<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Haizara Tech</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../../../assets/img/logo haizara tech.png" alt="" width="60" height="60">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#about-me" class="nav-link px-2 text-muted">Quien soy</a></li>
      <li class="nav-item"><a href="#tecnologias" class="nav-link px-2 text-muted">Tecnologias</a></li>
      <li class="nav-item"><a href="#proyectos" class="nav-link px-2 text-muted">Proyectos</a></li>
      <li class="nav-item"><a href="#contacto" class="nav-link px-2 text-muted">Contacto</a></li>
      <li class="nav-item"><a href="https://github.com/vceniceros/portafolio" target="_blank" class="nav-link px-2 text-muted">this website repositorie</a></li>      
    </ul>
  </footer>
</div>