<section id="home">
  <div class="presentation">
    <div class="presentation-white">
      <div class="titles-row">
        <app-rotating-title></app-rotating-title>
        <app-typing-subtitle></app-typing-subtitle>
      </div>
    </div>
    <div class="presentation-black">
      <div id="hexagon"></div>
      <div id="square"></div>
      <div id="circle"></div>
      <div class="cvimage-container">
        <a
        href="https://drive.google.com/uc?id=147Loavg14MesEKQhcgJYlUv8Tm--PI3_
      "
      >
        <button class="button-cv">

            <span class="button_lg-cv">
              <span class="button_sl-cv"></span>
              <span class="button_text-cv">Descargar CV</span>
            </span>

        </button>
      </a>
      </div>
    </div>
  </div>
</section>
